# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.AdvOfCode.iml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#AdvOfCodePersonalInputFiles
Input Files/
# Ignorar pastas de build do .NET
[Bb]in/
[Oo]bj/
# Ignorar arquivos específicos de IDE
.idea/
.vscode/
*.user